.album-page tr {
    padding-right: 10px;
    padding-bottom: 10px;


}

.album-page th {
    color: #9da3af;
    font-size: 0.9em;

    padding-bottom: 7px;
}

.album-page .artist-name{
    color: #89c4f0;
    font-weight: bold;
}

.album-page .artist-name:hover{
    color: #c7e2ff;
}

.darkgrey-text{
    color: #9da3af !important;]
    font-size: 0.9em;
}

.average-rating{
    font-size: 1.1em;
    font-weight: bold;
}

.album-page td {
    color: #dbe0e9;

    padding-bottom: 7px;
}

.album-title{
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-right: 0.6em;

    font-size: 2em;
    color: #dbe0e9;

    border-bottom: #9da3af solid 2px;
}

.rate-button{
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
    background: #006ed1;
    color: white;
    margin-left: 0.5em;
}

.rate-button:hover{
    background: #005dbf;
    cursor: pointer;
}
